body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
.center {
    align-items: center;
}

.description {
    margin-bottom: 1.5rem;
}
.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

.grid > div {
  flex-basis: calc(50% - 500px);
}

.bkgd_div {
    background-color: rgb(139, 184, 232);
    margin-top: 1.1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: 2px;
}

.box {
    margin: 1.1rem;
    width: 550px;
    min-width: 550px;
    max-width: 550px;
    height: auto;
    background-color: rgb(240, 239, 239);
    margin: 8px;
    opacity: 0.9;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    padding: 1.5rem;
}

.box:hover {
    opacity: 1;
    background-color: rgb(245, 251, 237);
}

.prereqs {
    display: block;
    text-align: center;

}

.bar {
    position: block;
    height: 60px;
}

.progress-bar {
    position: relative;
    height: 20px;
    width: 90%;
    border-radius: 50px;
    border: 1px solid #333;
    margin-bottom: 50px;
    margin-left: 2rem;
    background: #FFFFFF;
}

.filler {
    background: #FFD100;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.left {
  text-align: left;
  float: left;
  width: 45%;
  font-weight: bold;
  margin-bottom: 2px;
  margin-left: 1rem;
  padding-left: 1rem;
}
.right {
  float: right;
  width: 45%;
  text-align: right;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 1rem;
  padding-right: 1rem;
}
.addPlanner {
    margin: 10px;
}
.addPrereq {
    margin: 10px;
}
.removeFromPlanner {
    background-color: #e60000;
    border-color: #e60000;
}

.removeFromPlanner:hover {
    background-color: #ff4d4d;
}
.remove {
    background-color: #e60000;
    border-color: #e60000;
}

.remove:hover {
    background-color: #ff4d4d;
}
