body {
    background-color: rgb(255, 255, 255);
}

.studentCard{
    width: 300px;
    height: auto;
    background-color: rgb(240, 239, 239);
    margin: 10px;
}

.studentCard:hover {
    background-color: rgb(226, 226, 226);
}

.studentName {
    border-radius: 25px;
    font-size:30px;
    background-color: rgba(255, 208, 0, 0.863);
    color: rgb(39,116,174);
}

.studentInfo {
    border-radius: 25px;
    font-size: 16px;
    text-align: left;
    background-color: rgba(255, 208, 0, 0.863);
    margin: auto;
    padding: 10px 10px 10px 10px;
    color: black;
    line-height: 1;
}

.studentPicture {
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.studentDirectory {
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.top {
    display: flex;
}

.top input {
    width: 45%;
    border: 5px solid rgba(255, 208, 0, 0.863);
    padding: 20px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    margin: 30px 10px 10px;
    font-size: 17px;
}

.top button {
    width: 10%;
    height: 50px;
    padding: 15px;
    background: rgb(39,116,174);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin: 30px 10px 10px;
}