
.studentOddRow {
    column-count: 5;
    column-gap: 20px;
    column-rule-style: solid;
    margin: auto;
    max-width: 1000px;
    background-color: azure;
    font-size: 16px;
}

.studentEvenRow {
    column-count: 5;
    column-gap: 20px;
    column-rule-style: solid;
    margin: auto;
    max-width: 1000px;
    background-color: lightyellow;
    font-size: 16px;
}

.headerStyle {
    column-count: 5;
    column-gap: 20px;
    column-rule-style: solid;
    margin: auto;
    max-width: 1000px;
    font-size: 20px;
}

