.App {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, rgb(164, 226, 255) 1%, rgb(117, 195, 255) 20%, rgb(50,131,191) 100%);
}

.HomeModule {

}
