.App {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(50,131,191) 30%, rgb(87, 166, 226) 100%);
}

.HomeModule {

}
